In [1]:
import pandas as pd
df = pd.read_csv('diabetesTest.csv')

In [2]:
df['BMI'].max()

59.4

In [3]:
df['Glucose'].max()

199

In [4]:
df['Age'][df['BMI'] >40]

4      45
8      27
22     26
26     28
29     22
37     26
39     21
41     36
45     26
52     29
62     25
86     27
87     28
101    31
102    24
103    21
104    58
148    24
149    29
163    53
175    42
178    28
194    21
197    21
207    45
213    46
225    27
239    45
240    21
255    32
278    22
290    22
298    26
299    22
306    46
308    44
316    26
329    38
349    24
357    48
361    39
363    27
364    32
370    26
378    43
Name: Age, dtype: int64

In [16]:
df['Age'].mean()

33.31428571428572

In [17]:
df['BMI'].mean()

31.784935064935045

In [18]:
df['Insulin'].mean()

79.11428571428571

In [5]:
df1 = pd.read_csv("Weather.csv")
df1

      Day  Temperature  Windspeed  Event  Unnamed: 4
0  1/1/17           32          6   Rain         NaN
1  1/2/17           35          7  Sunny         NaN
2  1/3/17           28          2   Snow         NaN
3  1/4/17           24          7   Snow         NaN
4  1/5/17           32          4   Rain         NaN
5  1/6/17           31          2  Sunny         NaN

In [6]:
df1.shape

(6, 5)

In [7]:
df1.head()

      Day  Temperature  Windspeed  Event  Unnamed: 4
0  1/1/17           32          6   Rain         NaN
1  1/2/17           35          7  Sunny         NaN
2  1/3/17           28          2   Snow         NaN
3  1/4/17           24          7   Snow         NaN
4  1/5/17           32          4   Rain         NaN

In [8]:
df1.tail()

      Day  Temperature  Windspeed  Event  Unnamed: 4
1  1/2/17           35          7  Sunny         NaN
2  1/3/17           28          2   Snow         NaN
3  1/4/17           24          7   Snow         NaN
4  1/5/17           32          4   Rain         NaN
5  1/6/17           31          2  Sunny         NaN

In [9]:
df1[2:4]

      Day  Temperature  Windspeed Event  Unnamed: 4
2  1/3/17           28          2  Snow         NaN
3  1/4/17           24          7  Snow         NaN

In [27]:
df1.columns

Index(['Day', 'Temperature', 'Windspeed', 'Event', 'Unnamed: 4'], dtype='object')

In [28]:
df1.Day

0    1/1/17
1    1/2/17
2    1/3/17
3    1/4/17
4    1/5/17
5    1/6/17
Name: Day, dtype: object

In [29]:
df1.Event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: Event, dtype: object

In [30]:
df1[['Event', 'Day']]

   Event     Day
0   Rain  1/1/17
1  Sunny  1/2/17
2   Snow  1/3/17
3   Snow  1/4/17
4   Rain  1/5/17
5  Sunny  1/6/17

In [31]:
df1['Temperature'].max()

35

In [34]:
df1['Temperature'].mean()

30.333333333333332

In [10]:
df1.describe()

       Temperature  Windspeed  Unnamed: 4
count     6.000000   6.000000         0.0
mean     30.333333   4.666667         NaN
std       3.829708   2.338090         NaN
min      24.000000   2.000000         NaN
25%      28.750000   2.500000         NaN
50%      31.500000   5.000000         NaN
75%      32.000000   6.750000         NaN
max      35.000000   7.000000         NaN

In [11]:
df1[['Day','Temperature']][df1.Temperature == df1.Temperature.max()]

      Day  Temperature
1  1/2/17           35