In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv('HomePricesMulti.csv')
df

   Area  Bedrooms  Age    Price
0  2600       3.0    20  550000
1  3200       4.0    15  560000
2  3600       NaN    18  610000
3  3800       3.0    30  595000
4  4000       5.0     8  760000

In [4]:
import math
median_bedroom = math.floor (df.Bedrooms.median())
median_bedroom

3

In [5]:
df.Bedrooms = df.Bedrooms.fillna(median_bedroom)
df

   Area  Bedrooms  Age    Price
0  2600       3.0    20  550000
1  3200       4.0    15  560000
2  3600       3.0    18  610000
3  3800       3.0    30  595000
4  4000       5.0     8  760000

In [6]:
reg = linear_model.LinearRegression()
reg.fit(df[['Area','Bedrooms']],df.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [7]:
reg.coef_
reg.score(df[['Area','Bedrooms']],df.Price)

0.80661580966459

In [8]:
reg.intercept_

161616.16161616158

In [9]:
reg.predict([[5000,4]])

array([756237.37373737])

In [10]:
reg.predict([[6000,2]])

array([728939.39393939])